Repository wxh06/segmentfault-real-links: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier -c, prettier -w

.lintstagedrc.json:

{
  "*.{js,cjs,mjs}": ["eslint --fix", "prettier -c"],
  "*.{json,yml,yaml,md}": "prettier -w"
}

Create README.md
  README.md
Due: prettier -w

Update metadata
  sf-real-links.user.js
Due: eslint --fix, prettier -c

Fix Greasemonkey compatibility
  sf-real-links.user.js
Due: eslint --fix, prettier -c

Replace `Segment Fault` with `SegmentFault`
  README.md
  package.json
  sf-real-links.user.js
Due: eslint --fix, prettier -c, prettier -w

Remove useless TypeScript triple-slash directives
  sf-real-links.user.js
Due: eslint --fix, prettier -c
